<div class="content s-sm-invisible">
    <nav class="c-main-nav">
        <ul class="main-desc-menu">
            {{ include(template_from_string(templates.desktop_mainmenu.diamonds)) }}
            {{ include(template_from_string(templates.desktop_mainmenu.engagement_rings)) }}
            {{ include(template_from_string(templates.desktop_mainmenu.wedding)) }}
            {{ include(template_from_string(templates.desktop_mainmenu.jewelry)) }}
            {{ include(template_from_string(templates.desktop_mainmenu.gemstone)) }}
            {{ include(template_from_string(templates.desktop_mainmenu.education)) }}
            {{ include(template_from_string(templates.desktop_mainmenu.about)) }}
        </ul>
    </nav>
</div>