<div class="t-mob-nav-bg" id="main_nav">
    <div class="t-mob-nav-block">
        <ul>
            {{ include(template_from_string(templates.mobile_mainmenu.diamonds)) }}
            {{ include(template_from_string(templates.mobile_mainmenu.engagement_rings)) }}
            {{ include(template_from_string(templates.mobile_mainmenu.wedding)) }}
            {{ include(template_from_string(templates.mobile_mainmenu.jewelry)) }}
            {{ include(template_from_string(templates.mobile_mainmenu.gemstone)) }}
            {{ include(template_from_string(templates.mobile_mainmenu.education)) }}
            {{ include(template_from_string(templates.mobile_mainmenu.about)) }}
        </ul>
    </div>
</div>