{% set sku = product.certificateNumber ~ '/' ~ product.stockNumber %}
{# {% set dateNow = new Date %} #}

{% include "pages/frontend/_partials/affirm.twig" %}
<div
	class="content-md">
	<!-- BREAD CRUMBS -->
	<div>
		{%  include "pages/frontend/_partials/bread_crumbs.twig" %}
	</div>
	<div class="u-clear"></div>
	<div class="u-fl o-col-lg-3 o-col-sm-12 o-row u-tcp">
		<button id="product-share-btn" class="t-product-action-icon t-product-action-send desctop-hide" onclick="sharePage()"></button>
		<a id="return-to-original-search" class="btn-sm t-return-to-search" href="{{ path_for('looseDiamonds-Search', {'filter': 'search'}, params) }}" {# style="text-transform: capitalize; line-height: 32px; height: 32px;" #}>
			&lt; Return to search</a>
	</div>
	<div class="u-clear"></div>
	<!-- /BREAD CRUMBS -->
	<div>
		{% include "pages/frontend/loose_diamonds/details/main_slider.twig" %}
	</div>

	<div class="o-col-lg-6 o-col-sm-12 u-color-dark-gray detail-diamond-info">
		<p class="u-text-upper u-f20">{{ product.title }}</p>
		<p class="u-f18 u-mrg-0">
			{% if product.color %}
				{{ product.color.code }}
				Color |
			{% endif %}
			{% if product.clarity %}
				{{ product.clarity.code }}
				Clarity |
			{% endif %}
			{% if product.cut %}
				{{ product.cut.code }}
				Cut
			{% endif %}
			{# <span class="u-f18 gia-lab">
																																																																																																																						{% if product.lab %}
																																																																																																																							{{ product.lab }}
																																																																																																																							lab
																																																																																																																						{% endif %}
																																																																																																																					</span> #}
		</p>
		<br>
		{# {% if showCerts %}
																																																																									<p class="u-f18 u-mrg-0 u-color-light-gray">SKU:
																																																																										{{ product.certificateNumber }}/{{ product.stockNumber }}</p>
																																																																									<br>
																																																																								{% endif %} #}
		<div class="o-col-lg-12 o-row">
			<p class="u-f18 u-color-blue u-text-upper u-text-none-underline u-mrg-0">FREE SHIPPING & 30 DAY RETURNS</p>
			<p class="u-f18 u-color-light-gray">Order loose diamond, ships by
				{% if user == false %}
					<span>{{ product.shippingDetails.shipsBy|date_modify("+9 day")|date("l, F jS") }}</span>
				{% else %}
					{% if not user.city %}
						{#<span>{{ product.shippingDetails.shipsBy|date("l, F jS") }}</span>#}
						<span>{{ product.shippingDetails.shipsBy|date_modify("+9 day")|date("l, F jS") }}</span>
					{% elseif user.city == 'New York' %}
						<span>{{ product.shippingDetails.shipsBy|date_modify("+5 day")|date("l, F jS") }}</span>
					{% elseif user.country == 'US' %}
						<span>{{ product.shippingDetails.shipsBy|date_modify("+7 day")|date("l, F jS") }}</span>
					{% else %}
						<span>{{ product.shippingDetails.shipsBy|date_modify("+9 day")|date("l, F jS") }}</span>
					{% endif %}
				{% endif %}
			</p>
		</div>
		<div class="o-col-lg-12 o-row">
			<p class="u-color-light-gray u-text-upper">Bank wire:
				<span class="bank-wire">{{
                (product.price * 98.5 / 100) | price
            }}</span>
			</p>
		</div>
		<div class="o-col-sm-12 o-col-lg-6 o-row">
			<span class="c-btn c-light-btn product-price">
				{{ product.price | price }}</span>
		</div>
		<div class="o-col-sm-12 o-col-lg-6 o-row">{% include "pages/frontend/loose_diamonds/details/main_builder.twig" %}</div>
		<div class="u-clear"></div>
		<div class="o-col-lg-12 o-row u-tl">
			<ul
				class="t-product-action print_invisible">
				{#<li>{% include "pages/frontend/loose_diamonds/details/main_favorite.twig" %}</li>#}
				<li>
					<button class="t-product-action-icon t-product-action-wishlist{{ isFavorite ? ' active' : '' }}"></button>
					SAVE
				</li>
				<li class="desctop-hide">
					<button id="product-share-btn" class="t-product-action-icon t-product-action-send" onclick="sharePage()"></button>
					SHARE
				</li>
				<li class="hide-mobile">
					<button onclick="showSharePopup('{{ product.certificateNumber }}', '{{ product.stockNumber }}')" id="product-share-btn-desctop" class="t-product-action-icon t-product-action-send"></button>
					SHARE
				</li>
				{# <li>
																																																																																																																																													<button class="t-product-action-icon t-product-action-print" onclick="window.print()"></button>
																																																																																																																																												</li> #}
				<li>
					<button id="product-mail-btn" onclick="showPopupMail('{{product.certificateNumber}}', '{{product.stockNumber}}')" class="t-product-action-icon t-product-action-mail"></button>
					SEND
				</li>
				<li>
					<button href="tel:800-818-8386" title="800-818-8386" class="t-product-action-icon t-product-action-phone"></button>
					CALL
				</li>

				{% include "pages/frontend/loose_diamonds/details/form_mail.twig" %}
				<li>
					<button id="my_custom_link" href="mailto:HELP@YOUR-APP.COM" class="t-product-action-icon t-product-action-chat"></button>
					CHAT
				</li>
			</ul>
			{% include "pages/frontend/loose_diamonds/details/form_share.twig" %}
		</div>
		{# <div class="o-col-lg-12 o-row">
																																																																			<ul class="t-product-action print_invisible">
																																																																				<li>
																																																																					<a href="tel:800-818-8386" title="800-818-8386" class="t-product-action-icon t-product-action-phone"></a>
																																																																				</li>
																																																																				<li>
																																																																					<a id="product-mail-btn" onclick="showPopupMail('{{product.certificateNumber}}', '{{product.stockNumber}}')" class="t-product-action-icon t-product-action-mail"></a>
																																																																				</li>
																																																																				{% include "pages/frontend/loose_diamonds/details/form_mail.twig" %}
																																																																				<li>
																																																																					<a id="my_custom_link" href="mailto:HELP@YOUR-APP.COM" class="t-product-action-icon t-product-action-chat"></a>
																																																																				</li>
																																																																			</ul>
																																																																		</div> #}
		<p class="text-mail-submit" style="color: green;"></p>
		{# <div class="o-col-lg-1 o-col-md-2 o-row desctop-hide">
																					<img class="t-examitation-img" src="../../images/examination.png" alt="images">
																				</div>
																				<div class="o-col-lg-11 o-col-md-10 o-row u-tl desctop-hide print_invisible">
																					<p>Our in-house gemologist at DreamStone inspect every diamond before it reaches you and we ship the diamond with the grading report and an insurance appraisal.</p>
																				</div> #}
		<div class="o-col-lg-12 o-row">
			<p class="affirm-as-low-as" data-learnmore-show="true" data-page-type="product" data-amount="{{ 100 * product.price }}"></p>
		</div>
		<div class="u-clear"></div>
		<div class="book-an-appointment">
			<a id="my_custom_link" href="mailto:HELP@YOUR-APP.COM" class="appointment">
				<img class="t-examitation-img" src="../../images/examination.png" alt="images">
				<p>GET A GEMOLOGIST OPINION</p>
			</a>
			<div class="text-book-submit" style="color: green;"></div>
			<p class="u-color-light-gray">See in-person in our New York or Florida showrooms</p>
		</div>
		{% if isLocal %}
			<div class="book-an-appointment">
				<a onclick="showBookForm('{{product.certificateNumber}}', '{{product.stockNumber}}')" class="appointment">
					<img src="../../images/BOOK_APPOINTMENT.png" alt="images">
					<p>BOOK AN APPOINTMENT</p>
				</a>
				<div class="text-book-submit" style="color: green;"></div>
				<p class="u-color-light-gray">See in-person in our New York or Florida showrooms</p>
			</div>
		{% endif %}
		<div class="o-col-sm-10 o-col-md-9 o-col-lg-12 o-row print_invisible">
			<a onclick="showMatchForm('{{product.certificateNumber}}', '{{product.stockNumber}}')" class="match-guarantee">
				<img src="../../images/money.png" alt="images">
				<p>PRICE MATCH GUARANTEE</p>
			</a>
			<p class="u-color-light-gray">See a diamond at a lower price?
				<span onclick="showMatchForm('{{product.certificateNumber}}', '{{product.stockNumber}}')" style="text-decoration: underline; cursor: pointer;">Request Price Match</span>
			</p>
			<div class="text-match-submit" style="color: green;"></div>
			{% include "pages/frontend/loose_diamonds/details/form_match.twig" %}
		</div>
		<div class="u-clear"></div>
		<div id="my_message"></div>
	</div>
	{% include "pages/frontend/loose_diamonds/details/form_book.twig" %}
</div>

<div class="u-clear"></div>
<a href="javascript: void(0);" class="t-discover-more">
	<span>Discover more</span>
</a></div><script src="/js/slick-lightbox.js"></script><link rel="stylesheet" type="text/css" href="/css/slick-lightbox.css"/><script src="/js/magnific-popup.js"></script><link rel="stylesheet" type="text/css" href="/css/magnific-popup.css"/><script>
$('.t-product-action-wishlist').click(function () {
const $this = $(this);
const method = $this.hasClass('active') ? 'DELETE' : 'POST';
const FavoriteModel = (new Favorites({{ user ? 'true' : 'false' }}));
FavoriteModel[method === 'POST' ? 'add' : 'delete']('diamonds', product, function () {
$this[method === 'POST' ? 'addClass' : 'removeClass']('active');

const $icon = $('.t-top-icon-wishlist, .t-top-icon-mob-wishlist');
$icon.attr('data-count', + ($icon.attr('data-count') || 0) + (method === 'POST' ? 1 : -1));
});
});</script>{# share Page #}<script>
function sharePage() {
let pageUrl = document.location.href;
const canonicalElement = document.querySelector('link[rel=canonical]');
if (canonicalElement !== null) {
pageUrl = canonicalElement.href;
}
if (navigator.share) {
navigator.share({
title: 'DreamStone' + '                                        {{ product.title }}',
text: '{{ product.title }}',
url: pageUrl
}).then(() => console.log('Successful share')).catch((error) => console.log('Error sharing', error));
} else {
console.log('No Navigator Share feature');
}
}</script>{# back user to the original search #}<script>
$(document).ready(function ($) {
let diamondCount = localStorage.getItem('diamondCount');
let diamondUrl = localStorage.getItem('diamondUrl');

$('#return-to-original-search').attr('href', diamondUrl);
});</script>
