{{ include(template_from_string(templates.wedding.women)) }}
<div class="u-clear-20"></div>

{{ include(template_from_string(templates.wedding.men)) }}
<div class="u-clear-20"></div>

{{ include(template_from_string(templates.wedding.banner1)) }}
<div class="u-clear"></div>

{{ include(template_from_string(templates.wedding.banner2)) }}
<div class="u-clear"></div>

{{ include(template_from_string(templates.wedding.banner3)) }}
<div class="u-clear"></div>

{{ include(template_from_string(templates.wedding.banner4)) }}
 <div class="u-clear"></div>