{{ include(template_from_string(templates.jewelry.banner1)) }}
<div class="u-clear"></div>

{{ include(template_from_string(templates.jewelry.banner2)) }}
<div class="u-clear"></div>

{{ include(template_from_string(templates.jewelry.banner3)) }}
<div class="u-clear"></div>

{{ include(template_from_string(templates.jewelry.banner4)) }}
<div class="u-clear"></div>

{{ include(template_from_string(templates.jewelry.banner5)) }}
<div class="u-clear"></div>