{{ include(template_from_string(templates.diamonds.banner1)) }}
<div class="u-clear"></div>

{{ include(template_from_string(templates.diamonds.explore)) }}
<div class="u-clear-20"></div>

{{ include(template_from_string(templates.diamonds.color)) }}
<div class="u-clear-20"></div>

{{ include(template_from_string(templates.diamonds.clarity)) }}
<div class="u-clear-20"></div>

{{ include(template_from_string(templates.diamonds.banner2)) }}
<div class="u-clear"></div>

{{ include(template_from_string(templates.diamonds.banner3)) }}
<div class="u-clear"></div>

{{ include(template_from_string(templates.diamonds.banner4)) }}
{{ include(template_from_string(templates.diamonds.banner5)) }}
<div class="u-clear"></div>