{% set mainImage = '' %}
{% set break = false %}
{% for image in product.images if not break %}
    {% if image.type == 'img' %}
        {% set mainImage = '/img.php?src=' ~ image.value|replace({ ('/content/'): '' }) ~ '' %}
        {% set break = true %}
    {% endif %}
{% endfor %}
<li class="t-search-result-block t-search-block" id="jewerly-list">
    <div class="t-search-result-image-block">
        <a href={{ product.permalink }}>
            <img src="{{ mainImage ? mainImage : '/images/jewelry/default.png' }}" alt="jewelry">
        </a>
    </div>
    <div class="t-show-image-block"></div>
    <div class="t-search-result-description-block">
        <div class="t-product-hidden-block" id="jewerly-block">
            <div class="result-jewelry-slider">
                {% if mainImage %}
                    {% for image in product.images if image.type == 'img' %}
                        <div
                            onmouseenter="showImageBlock(this, '/img.php?src={{ image.value |replace({ ('/content/'): '' })}}')"
                            onmouseleave="hideImageBlock(this)"
                        >
                            <a href={{ product.permalink }}>
                                <img src=/img.php?src={{ image.value |replace({ ('/content/'): '' })}} alt="jewelry" >
                            </a>
                        </div>
                    {% endfor %}
                {% else %}
                    <img src="/images/jewelry/default.png" alt="jewelry">
                {% endif %}
            </div>
        </div>
        <div class="t-search-result-block-data" id="result-blocks">
            <a href={{ product.permalink }}>
                <span class="t-search-result-short-desc u-f16" style="text-transform: none">{{ product.title }}</span>
                <span class="t-search-result-price">Price: {%
                    if product.retail_price %}<s>{{ product.retail_price | price }}</s> {% endif
                %}{{ product.price | price }}
                </span>
            </a>
            <div class="result-block-btns">
                <button
                    id="c{{ product._id }}"
                    class="t-table-view-icon t-table-view-icon-compare{{ product.isCompare ? ' active' : '' }}"
                ></button>
                <button
                    id="p{{ product._id }}"
                    class="t-table-view-icon t-table-view-icon-wishlist{{ product.isFavorite ? ' active' : '' }}"
                ></button>
            </div>
        </div>
    </div>
</li>

<script>
    $('#c{{ product._id }}').click(function() {
        const $this = $(this);
        const $icon = $('.results-btn-comparison-jewelry');
        const method = $this.hasClass('active') ? 'delete' : 'add';
        (new Compares())[method]('products', '{{ product._id }}', function(){
            $this[method === 'add' ? 'addClass' : 'removeClass']('active');
            const count = +$icon.attr('data-count') + (method === 'add' ? 1 : -1);
            $icon.attr('data-count', count).text(`comparison${count ? ` ${count}` : ''}`);
        });
    });

    $('#p{{ product._id }}').click(function() {
        const $this = $(this);
        const method = $this.hasClass('active') ? 'DELETE' : 'POST';
        const FavoriteModel = (new Favorites({{ user ? 'true' : 'false' }}));
        FavoriteModel[method === 'POST' ? 'add' : 'delete']('products', { _id: '{{ product._id }}' }, function(){
            $this[method === 'POST' ? 'addClass' : 'removeClass']('active');

            const $icon = $('.t-top-icon-wishlist, .t-top-icon-mob-wishlist');
            $icon.attr('data-count', +($icon.attr('data-count') || 0) + (method === 'POST' ? 1 : -1));
        });
    });

    $(document).ready(function() {
        $('.result-jewelry-slider').not('.slick-slider').slick({
            infinite: true,
            dots: false,
            arrows: false,
            speed: 300,
            slidesToShow: 4,
            adaptiveHeight: true,
            responsive: [
                {
                breakpoint: 600,
                settings: {
                    slidesToShow: 1,
                    slidesToScroll: 1
                }
                },
            ]
        });
    })

</script>