{{ include(template_from_string(templates.gemstones.slider)) }}
<div class="u-clear-20"></div>

{{ include(template_from_string(templates.gemstones.color)) }}
<div class="u-clear"></div>

{{ include(template_from_string(templates.gemstones.banner1)) }}
<div class="u-clear"></div>

{{ include(template_from_string(templates.gemstones.banner2)) }}
<div class="u-clear"></div>

{{ include(template_from_string(templates.gemstones.banner3)) }}
<div class="u-clear"></div>

{{ include(template_from_string(templates.gemstones.banner4)) }}
<div class="u-clear"></div>