{{ include(template_from_string(templates.rings.banner1)) }}
<div class="u-clear"></div>

{{ include(template_from_string(templates.rings.style)) }}
{{ include(template_from_string(templates.rings.color)) }}
<div class="u-clear"></div>

{{ include(template_from_string(templates.rings.banner2)) }}
<div class="u-clear"></div>

{{ include(template_from_string(templates.rings.banner3)) }}
<div class="u-clear"></div>

{{ include(template_from_string(templates.rings.banner4)) }}
 <div class="u-clear"></div>

{{ include(template_from_string(templates.rings.banner5)) }}
<div class="u-clear"></div>