<div id="normalSideDimensions" style="position: absolute; visibility: visible; vertical-align: top; font-size: 10px; z-index: 50;">
    <div style="position:absolute; left:-16px; bottom:78px; background-color:#FFFFFF;width:40px;">Table %<br>
        {% if product %}
            {{ product.table }}%
        {% endif %}
        {% if diamond %}
            {{ diamond.table }}%
        {% endif %}
    </div>
    {# <div style="position:absolute; right:89px; top:-12px; background-color:#FFFFFF;width:40px;">height<br>{{ product.height }}mm</div> #}
    <div style="position:absolute; left:90px; bottom:0px; background-color:#FFFFFF;width:40px;">Depth %<br>
        {% if product %}
            {{ product.depth }}%
        {% endif %}
        {% if diamond %}
            {{ diamond.depth }}%
        {% endif %}
    </div>
    {% if diamond.culet %}<div style="position:absolute; right: 15px; top: 58px; background-color:#FFFFFF;width:40px;">Culet<br>{{ product.culet.code }}</div>{% endif %}
    {# <div style="position:absolute; left: 36px; top: 40px; background-color:#FFFFFF;width:40px;">Girdle<br></div> #}
</div>
